<!-- <!DOCTYPE html>
<html>
  <head>
    Hello Prince
  </head>
  <title>Multiple files uploads</title>
  <body>
    <div>
      <form method="post" action="/uploads" enctype="multipart/form-data">
        <input type="file" name="files" multiple/>
        <button type="submit">uploads</button>
      </form>
    </div>
  </body>
</html> -->
